.comment{
  @apply bg-gray-100 flex gap-3 px-3 py-2 rounded-lg text-sm
}
.comment a{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: x-small;
}
.comment img{
  border-radius: 50%;
  width: 35px;
}
.comment p{
  flex-grow: 1;
  margin: 0;
}
.comment time{
  font-style: italic;
  font-size: x-small;
  color: #666;
}

.highlight{
  animation: highlight 1s;
}
@keyframes highlight {
  0% {
    @apply bg-yellow-200
  }
  100% {
    @apply bg-gray-100
  }
}