@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-gray-100;
}
input, select, textarea{
  @apply p-2 rounded-md border border-gray-300 w-full;
}

a:hover{
  @apply underline;
}

button{
  @apply px-6 py-2 rounded-md border border-gray-300 transition-all duration-100;
}
button:hover:not(:disabled){
  @apply bg-gray-100 border-gray-400;
}

button:active:not(:disabled){
  @apply scale-95
}

button.primary{
  @apply bg-[#d56a34]/90 border-none text-[#3f170e];
}

button.primary:hover:not(:disabled){
  @apply bg-[#d56a34];
}
.main{
  @apply container max-w-7xl flex gap-4
}
.wall{
  @apply w-full sm:max-w-2xl mx-auto border-l border-r border-gray-300 divide-y divide-gray-300;
}

.post{
  @apply p-5 bg-white flex flex-col gap-5;
}
.post figure{
  @apply m-0 p-0;
}
.post figure img{
  @apply w-full rounded-md cursor-pointer
}
.post figure div{
  display: flex;
  justify-content: space-between;
}
.post figure p{
  margin: 0;
  padding: 0;
  font-size: small;
  font-style: italic;
}
.post header{
  display: flex;
  gap: 20px;
  align-items: center;
}
.post header h3{
  flex-grow: 1;
}
.post .user{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post .user img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.post footer{
  display: flex;
  gap: 20px;
  align-items: center;
}
.post.liked figure img{
  animation: like 0.3s;
}
.post.unliked figure img{
  animation: unlike 0.3s;
}

@keyframes like{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes unlike{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}
.ListInModal{
  @apply w-full sm:w-96 space-y-4
}
.ListInModal h3{
  @apply text-lg font-semibold text-center
}
.ListInModal>div{
  @apply space-y-3
}
.ListInModal .item{
  @apply flex justify-between
}
.ListInModal .item>a{
  @apply flex gap-2 items-center
}
.ListInModal .item img{
  @apply size-9 rounded-full
}