@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-gray-100;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e4e4e4;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background-color: #a3a3a3;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #959595;
}

input, select, textarea{
  @apply p-2 rounded-md border border-gray-300 w-full;
}

a:hover{
  @apply underline;
}

button{
  @apply px-4 py-2 rounded-md border border-gray-300 transition-all duration-100;
}
button:hover:not(:disabled){
  @apply bg-gray-100 border-gray-400;
}

button:active:not(:disabled){
  @apply scale-95
}

button.primary{
  @apply bg-[#d56a34]/90 border-none text-[#3f170e];
}

button.primary:hover:not(:disabled){
  @apply bg-[#d56a34];
}
.main{
  @apply sm:container xl:max-w-7xl flex gap-4 flex-col sm:flex-row
}
.wall{
  @apply w-full sm:max-w-2xl min-h-screen bg-white sm:border-l sm:border-r border-gray-300 divide-y divide-gray-300;
}

.post{
  @apply p-5 flex flex-col gap-2;
}
.post.liked figure img{
  animation: like 0.3s;
}
.post.unliked figure img{
  animation: unlike 0.3s;
}

@keyframes like{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes unlike{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}

.ListInModal{
  @apply w-full sm:w-[500px] space-y-4
}
.ListInModal>div{
  @apply space-y-3 max-h-[calc(50vh)] overflow-y-auto
}
.ListInModal .item{
  @apply flex justify-between
}
.ListInModal .item>a{
  @apply flex gap-2 items-center
}
.ListInModal .item img{
  @apply size-9 rounded-full
}

.notificationItem{
  @apply bg-gray-100 border p-3 rounded-md flex gap-3 items-center
}
.notificationItem img{
  @apply size-9 rounded-full
}
.notificationItem>div{
  @apply flex-grow flex gap-3 items-center cursor-pointer font-bold
}
.notificationItem>div time{
  @apply text-xs opacity-70 italic
}
.notificationItem.seen{
  @apply bg-transparent
}
.notificationItem.seen>div{
  @apply text-gray-600 font-normal
}

.sidebar{
  @apply border bg-white w-full sm:w-fit xl:w-[275px] sm:mt-5 py-5 px-2 xl:p-5 fixed bottom-0 sm:sticky sm:top-5 h-fit
}
.sidebar ul{
  @apply text-xl flex gap-1 sm:gap-2 sm:flex-col justify-center
}
.sidebar li a{
  @apply w-fit flex gap-2 items-center rounded-md px-3 py-2 hover:bg-gray-200 transition-all duration-200 no-underline
}
.sidebar li a.active{
  @apply bg-gray-100
}
.sidebar li a.disabled{
  @apply cursor-default text-gray-400 hover:bg-white
}
.sidebar li a.disabled div{
  @apply text-gray-400
} 
.sidebar svg{
  @apply size-6
}
.sidebar span{
  @apply hidden xl:inline
}
.sidebar button{
  @apply w-full flex gap-2 px-3 sm:mt-5
}