.newpost{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
}
.newpost label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.newpost input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex-grow: 1;
}