.newComment{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  font-size: small;
}
.newComment div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newComment img{
  border-radius: 50%;
  width: 35px;
}
.newComment textarea{
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #666;
  width: max-content;
  resize: vertical;
}